section.section     
    h2.section__title Юмористические вставки или слова

    .projects.glide
        .glide__track(data-glide-el="track")
            .glide__slides.projects__slides
                .glide__slide
                    .projects-card
                        a(href="#tag").projects-card__tag #tag
                        a.projects-card__link(href="#")
                            .projects-card__image
                                picture.projects-card__pic
                                    source(type="image/webp" srcset="./img/project-1.webp 1x, ./img/project-1@2x.webp 2x")
                                    source(type="image/jpeg" srcset="./img/project-1.jpg 1x, ./img/project-1@2x.jpg 2x")
                                    img(src="./img/project-1.jpg", alt="Описание изображения", width="384", height="248")

                            h4.projects-card__title оценка дизайна
                        p.projects-card__text За прошедшие годы текст Lorem Ipsum получил много версий

                .glide__slide
                    .projects-card
                        a(href="#tag").projects-card__tag #tag
                        a.projects-card__link(href="#")
                            .projects-card__image
                                picture.projects-card__pic
                                    source(type="image/webp" srcset="./img/project-2.webp 1x, ./img/project-2@2x.webp 2x")
                                    source(type="image/jpeg" srcset="./img/project-2.jpg 1x, ./img/project-2@2x.jpg 2x")
                                    img(src="./img/project-2.jpg", alt="Описание изображения", width="384", height="248")

                            h4.projects-card__title Lorem Ipsum в качестве текста по умолчанию
                        p.projects-card__text Многие программы электронной вёрстки и редакторы HTML используют Lorem Ipsum в качестве текста по умолчанию

                .glide__slide
                    .projects-card
                        a(href="#tag").projects-card__tag #tag
                        a.projects-card__link(href="#")
                            .projects-card__image
                                picture.projects-card__pic
                                    source(type="image/webp" srcset="./img/project-3.webp 1x, ./img/project-3@2x.webp 2x")
                                    source(type="image/jpeg" srcset="./img/project-3.jpg 1x, ./img/project-3@2x.jpg 2x")
                                    img(src="./img/project-3.jpg", alt="Описание изображения", width="384", height="248")

                            h4.projects-card__title Почему он используется?
                        p.projects-card__text Это делает предлагаемый здесь генератор единственным настоящим Lorem Ipsum генератором. 
                 
                .glide__slide
                    .projects-card
                        a(href="#tag").projects-card__tag #tag
                        a.projects-card__link(href="#")
                            .projects-card__image
                                picture.projects-card__pic
                                    source(type="image/webp" srcset="./img/project-1.webp 1x, ./img/project-1@2x.webp 2x")
                                    source(type="image/jpeg" srcset="./img/project-1.jpg 1x, ./img/project-1@2x.jpg 2x")
                                    img(src="./img/project-1.jpg", alt="Описание изображения", width="384", height="248")

                            h4.projects-card__title Также все другие известные генераторы 
                        p.projects-card__text Если вам нужен Lorem Ipsum для серьёзного проекта, вы наверняка не хотите какой-нибудь шутки, скрытой в середине абзаца

        .projects__bullets(data-glide-el="controls[nav]")
            button.projects__bullet(data-glide-dir="=0")
            button.projects__bullet(data-glide-dir="=1")
            button.projects__bullet(data-glide-dir="=2")
            button.projects__bullet(data-glide-dir="=3")