:root {
    --Color-Primary: #231F20;
    --Color-Secondary: #C69B39;
    --Color-Primary-Bg: #FFF;

    --Colors-Dark-1: #444041;
    --Colors-Dark-2: #7B7979;
    --Colors-Dark-3: #A7A5A6;
    --Colors-Dark-4: #2A3342;

    --Colors-Light-1: #DEDEDE;
    --Colors-Light-2: #EEEDEE;
    --Colors-Light-3: #F8F8F8;

    --Colors-Accent-Red: #DC2626;
}