section.section 
    h2.section__title Вопросы и ответы

    .faq 
        .faq__item.js-question
            .faq__item-top.js-question-toggle
                h4.faq__item-title Где его взять?
                .faq__item-opener
                    
                    svg.faq__item-opener-icon
                        use(xlink:href="./img/sprites/sprite.svg#icon-plus")

                    svg.faq__item-opener-icon._active
                        use(xlink:href="./img/sprites/sprite.svg#icon-plus-dark")
                
            .faq__item-answer 
                p Есть много вариантов Lorem Ipsum, но большинство из них имеет не всегда приемлемые модификации, например, юмористические вставки или слова, которые даже отдалённо не напоминают латынь. Если вам нужен Lorem Ipsum для серьёзного проекта, вы наверняка не хотите какой-нибудь шутки, скрытой в середине абзаца. Также все другие известные генераторы Lorem Ipsum используют один и тот же текст, который они просто повторяют, пока не достигнут нужный объём. Это делает предлагаемый здесь генератор единственным настоящим Lorem Ipsum генератором. Он использует словарь из более чем 200 латинских слов, а также набор моделей предложений. В результате сгенерированный Lorem Ipsum выглядит правдоподобно, не имеет повторяющихся абзацей или "невозможных" слов.

        .faq__item.js-question
            .faq__item-top.js-question-toggle
                h4.faq__item-title Абзац 1.10.33 "de Finibus Bonorum et Malorum", написанный Цицероном в 45 году н.э
                .faq__item-opener
                    
                    svg.faq__item-opener-icon
                        use(xlink:href="./img/sprites/sprite.svg#icon-plus")

                    svg.faq__item-opener-icon._active
                        use(xlink:href="./img/sprites/sprite.svg#icon-plus-dark")
                
            .faq__item-answer 
                p Есть много вариантов Lorem Ipsum, но большинство из них имеет не всегда приемлемые модификации, например, юмористические вставки или слова, которые даже отдалённо не напоминают латынь. Если вам нужен Lorem Ipsum для серьёзного проекта, вы наверняка не хотите какой-нибудь шутки, скрытой в середине абзаца. Также все другие известные генераторы Lorem Ipsum используют один и тот же текст, который они просто повторяют, пока не достигнут нужный объём. Это делает предлагаемый здесь генератор единственным настоящим Lorem Ipsum генератором. Он использует словарь из более чем 200 латинских слов, а также набор моделей предложений. В результате сгенерированный Lorem Ipsum выглядит правдоподобно, не имеет повторяющихся абзацей или "невозможных" слов.


        .faq__item.js-question
            .faq__item-top.js-question-toggle
                h4.faq__item-title Почему он используется?
                .faq__item-opener
                    
                    svg.faq__item-opener-icon
                        use(xlink:href="./img/sprites/sprite.svg#icon-plus")

                    svg.faq__item-opener-icon._active
                        use(xlink:href="./img/sprites/sprite.svg#icon-plus-dark")
                
            .faq__item-answer 
                p Есть много вариантов Lorem Ipsum, но большинство из них имеет не всегда приемлемые модификации, например, юмористические вставки или слова, которые даже отдалённо не напоминают латынь. Если вам нужен Lorem Ipsum для серьёзного проекта, вы наверняка не хотите какой-нибудь шутки, скрытой в середине абзаца. Также все другие известные генераторы Lorem Ipsum используют один и тот же текст, который они просто повторяют, пока не достигнут нужный объём. Это делает предлагаемый здесь генератор единственным настоящим Lorem Ipsum генератором. Он использует словарь из более чем 200 латинских слов, а также набор моделей предложений. В результате сгенерированный Lorem Ipsum выглядит правдоподобно, не имеет повторяющихся абзацей или "невозможных" слов.

        .faq__item.js-question
            .faq__item-top.js-question-toggle
                h4.faq__item-title Английский перевод 1914 года, H. Rackham
                .faq__item-opener
                    
                    svg.faq__item-opener-icon
                        use(xlink:href="./img/sprites/sprite.svg#icon-plus")

                    svg.faq__item-opener-icon._active
                        use(xlink:href="./img/sprites/sprite.svg#icon-plus-dark")
                
            .faq__item-answer 
                p Есть много вариантов Lorem Ipsum, но большинство из них имеет не всегда приемлемые модификации, например, юмористические вставки или слова, которые даже отдалённо не напоминают латынь. Если вам нужен Lorem Ipsum для серьёзного проекта, вы наверняка не хотите какой-нибудь шутки, скрытой в середине абзаца. Также все другие известные генераторы Lorem Ipsum используют один и тот же текст, который они просто повторяют, пока не достигнут нужный объём. Это делает предлагаемый здесь генератор единственным настоящим Lorem Ipsum генератором. Он использует словарь из более чем 200 латинских слов, а также набор моделей предложений. В результате сгенерированный Lorem Ipsum выглядит правдоподобно, не имеет повторяющихся абзацей или "невозможных" слов.

        .faq__item.js-question
            .faq__item-top.js-question-toggle
                h4.faq__item-title классический текст Lorem Ipsum, используемый с XVI века
                .faq__item-opener
                    
                    svg.faq__item-opener-icon
                        use(xlink:href="./img/sprites/sprite.svg#icon-plus")

                    svg.faq__item-opener-icon._active
                        use(xlink:href="./img/sprites/sprite.svg#icon-plus-dark")
                
            .faq__item-answer 
                p  Есть много вариантов Lorem Ipsum, но большинство из них имеет не всегда приемлемые модификации, например, юмористические вставки или слова, которые даже отдалённо не напоминают латынь. Если вам нужен Lorem Ipsum для серьёзного проекта, вы наверняка не хотите какой-нибудь шутки, скрытой в середине абзаца. Также все другие известные генераторы Lorem Ipsum используют один и тот же текст, который они просто повторяют, пока не достигнут нужный объём. Это делает предлагаемый здесь генератор единственным настоящим Lorem Ipsum генератором. Он использует словарь из более чем 200 латинских слов, а также набор моделей предложений. В результате сгенерированный Lorem Ipsum выглядит правдоподобно, не имеет повторяющихся абзацей или "невозможных" слов.