extends layouts/default
include helpers/mixins

block variables
	- const title = "gulp-pug-starter"

block content
	include ../blocks/modules/welcome/welcome
	include ../blocks/modules/projects/projects
	include ../blocks/modules/faq/faq

	+popup('example-popup', 'Наш специалист ответит на все ваши вопросы')
		include ../blocks/modules/form/form
		

block scripts
	script(src="js/vendor.js")
	script(src="js/main.js")