form(action="").form.js-form
    .form__line
        input(type="text" name="name" id="name" placeholder="Ваше Имя" required).ui-input.js-form-field

    .form__line
        input(type="text" name="number" id="number" placeholder="Введите ваш номер" required).ui-input.js-form-field.js-number

    .form__footer
        button.button.button--primary.button--large.js-submit Отправить
        p.form__note  Нажимая на кнопку, вы даете согласие на обработку персональных данных и соглашаетесь c политикой конфиденциальности