footer.footer
    .container 
        .footer__inner
            .footer__main
                a(href="#").footer__logo
                    img(src="./img/svg/project-logo-white.svg", alt="flex", width="122", height="34")

                p.footer__text Он использует словарь из более чем 200 латинских слов, а также набор моделей предложений

                .soc
                    a(href="#" aria-label="facebook").soc__link
                        svg.soc__link-icon
                            use(xlink:href="img/sprites/sprite.svg#logo-facebook" target="_blank")

                    a(href="#" aria-label="twitter").soc-link
                        svg.soc__link-icon
                            use(xlink:href="img/sprites/sprite.svg#logo-twitter" target="_blank")

                    a(href="#" aria-label="instagram").soc-link
                        svg.soc__link-icon
                            use(xlink:href="img/sprites/sprite.svg#logo-instagram" target="_blank")

                    a(href="#" aria-label="github").soc-link
                        svg.soc__link-icon
                            use(xlink:href="img/sprites/sprite.svg#logo-github" target="_blank")

            .footer__contacts
                h4.footer__title Контакты
                p.footer__text Санкт-Петербург, ул. Ленина, д. 160
                a(href="tel: +7 (812) 800-20-30").footer__link +7 (812) 800-20-30